body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: rgb(239,238,236)
}
.main{
	width: 25%;
	height: 500px;
	background: #e0dede;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
}

.navbar{
	position: absolute;
	top: -2%;
	width: 80%;
	padding-left: 100px;
	padding-top: 1%;
	border-radius: 15px;
	background-color: #ffffff;
}

.logo{
	color: rgb(15,89,152);
}

.gap{
	height: 50px;
	background-color: rgb(1,162,240);
}
#chk{
	display: none;
	background: #e0dede;
}
.signup{
	background: linear-gradient(to bottom, rgb(1,162,240), rgb(10,122,194), rgb(15,89,152));
	position: relative;
	width:100%;
	height: 100%;
}
label{
	margin-bottom: 15%;
	color: rgb(240,255,247);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 5% auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 65%;
	height: 40px;
	margin: 10% auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: rgb(96, 160, 192);
	font-size: 12px;
	font-weight: bold;
	margin-top: 2%;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.login{
	margin-top: 15%;
	height: 460px;
	background: #ffffff;
	border-radius: 95% / 5%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: rgb(19,105,166);
	transform: scale(.6);
}

.active{
    background-color: #4094F7;
    opacity: 100%;
    cursor: pointer;
}

.active:hover {
    background-color: #4094F7;
    opacity: 80%;
}


#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

@media (max-width: 1180px){
	.main{
		width: 40%;
	}
}

@media (max-width: 850px){
	.main{
		width: 40%;
	}
	.login{
		margin-top: 20%;
	}
	#chk:checked ~ .login{
		transform: translateY(-500px);
		padding-top: 10%;
	}
}


@media (max-width: 700px){
	.main{
		width: 50%;
	}
}

@media (max-width: 550px){
	.main{
		width: 55%;
	}
}

@media (max-width: 500px){
	.main{
		width: 60%;
	}

	label{
		font-size: 2em;
	}
	.login{
		margin-top: 20%;
	}
}

@media (max-width: 428px){
	.main{
		height: 400px;
	}
	.login{
		margin-top: 35%;
	}
	#chk:checked ~ .login{
		transform: translateY(-420px);
	}
	.navbar{
		width: 40%;
	}
}


